# Dependencies
node_modules/

# Sample files for testing
samples/

# Compiled Output files
dist/

# Generated project status files with the name [project]-[quarter]-[year].json
*-*-*.json

# Published artifacts
deploy/

# Output
*.SFM
